<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">EZQ</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">A</a></li>
        <li><a href="#">B</a></li>
        <li>{{partial user_status}}</li>
      </ul>
    </div>
  </div>

  {{outlet}}

</div>





